{% extends "appbuilder/general/model/add.html" %}
{% block head_js %}
    {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="{{url_for('static',filename='js/validaCuit.js')}}"></script>
{% endblock %}
    {% block add_form %}

        {{ super() }}


    {% endblock %}
        {% block tail_js %}
    {{ super() }}
    <script>
    $(document).ready(function(){
  $('#cuit').mask('00-00000000-0');
});
</script>
    <script>

	$("#tipoPersona").click(function() {

		if (tipoPersona.value==1){
				//alert("Cargar Tarjeta")
				console.log(tipoPersona.value)
				document.querySelector("label[for='apellido']").innerText="Apellido"
				document.querySelector("label[for='nombre']").innerText="Nombre"
				for (i in tipoClave.options){
						tipoClave.remove(i)}
				fetch("http://localhost:8080/api/v1/clienteapi/proveedorfisico/")
						    .then(data=>data.json())
						    .then(response =>{ console.log('Success:', JSON.parse(response.message))
						    dictmes=JSON.parse(response.message)
						   for(var clave in dictmes){
						   	var option = document.createElement("option");
							option.value=dictmes[clave]
							option.text =clave
							tipoClave.add(option) 
							
						   }
						   tipoClave[0].selected = true;
							$(tipoClave).change();
							for (i in tipoDocumento.options){
						tipoDocumento.remove(i)}

						})
		}else{
			document.querySelector("label[for='apellido']").innerText="Razon Social"
			document.querySelector("label[for='nombre']").innerText="Denominacion"
				for (i in tipoClave.options){
						tipoClave.remove(i)}
				fetch("http://localhost:8080/api/v1/clienteapi/condjuridicacliente/")
						    .then(data=>data.json())
						    .then(response =>{ console.log('Success:', JSON.parse(response.message))
						    dictmes=JSON.parse(response.message)
						   for(var clave in dictmes){
						   	var option = document.createElement("option");
							option.value=dictmes[clave]
							option.text =clave
							tipoClave.add(option) 
							
						   }
						   //selecciono el primero
						   	tipoClave[0].selected = true;
							$(tipoClave).change();



						})

		}

		})


</script>

{% endblock %}