{% extends "appbuilder/general/model/edit.html" %}
{% block head_js %}
    {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="{{url_for('static',filename='js/validaCuit.js')}}"></script>
{% endblock %}
    {% block add_form %}

        {{ super() }}


    {% endblock %}
    {% block tail_js %}
    {{ super() }}
    <script>

	$("#tipoPersona").click(function() {

		if (tipoPersona.value==1){
				//alert("Cargar Tarjeta")
				console.log(tipoPersona.value)
				document.querySelector("label[for='apellido']").innerText="Apellido"
				document.querySelector("label[for='nombre']").innerText="Nombre"
				for (i in tipoClave.options){
						tipoClave.remove(i)}
				fetch("http://localhost.localdomain:8080/api/v1/clienteapi/condfisicacliente/")
						    .then(data=>data.json())
						    .then(response =>{ console.log('Success:', JSON.parse(response.message))
						    dictmes=JSON.parse(response.message)
						   for(var clave in dictmes){
						   	var option = document.createElement("option");
							option.value=dictmes[clave]
							option.text =clave
							tipoClave.add(option) 
							
						   }
						   tipoClave[0].selected = true;
							$(tipoClave).change();
							for (i in tipoDocumento.options){
						tipoDocumento.remove(i)}
						fetch("http://localhost.localdomain:8080/api/v1/clienteapi/dnicliente/")
												    .then(data=>data.json())
						    .then(response =>{ console.log('Success:', JSON.parse(response.message))
						    dictmes=JSON.parse(response.message)
						   for(var clave in dictmes){
						   	var option = document.createElement("option");
							option.value=dictmes[clave]
							option.text =clave
							tipoDocumento.add(option) 
							
						   }




						})
						})
		}else{
			document.querySelector("label[for='apellido']").innerText="Razon Social"
			document.querySelector("label[for='nombre']").innerText="Denominacion"
				for (i in tipoClave.options){
						tipoClave.remove(i)}
				fetch("http://localhost.localdomain:8080/api/v1/clienteapi/condjuridicacliente/")
						    .then(data=>data.json())
						    .then(response =>{ console.log('Success:', JSON.parse(response.message))
						    dictmes=JSON.parse(response.message)
						   for(var clave in dictmes){
						   	var option = document.createElement("option");
							option.value=dictmes[clave]
							option.text =clave
							tipoClave.add(option) 
							
						   }
						   //selecciono el primero
						   	tipoClave[0].selected = true;
							$(tipoClave).change();
							//saco el dni y selecciono el cuit
							tipoDocumento.remove(0)
							tipoDocumento[0].selected = true;
							$(tipoDocumento).change();



						})

		}

		})

	selectdocumento=document.getElementById("tipoDocumento")

	if (selectdocumento.options[selectdocumento.selectedIndex].text=="CUIT"){
				    $(document).ready(function(){
    	  		$('#documento').mask('00-00000000-0');
    	}	);
		}else{
			$('#documento').unmask();
		}

	selectdocumento.onchange=function(){
		
		if (selectdocumento.options[selectdocumento.selectedIndex].text=="CUIT"){
				    $(document).ready(function(){
    	  		$('#documento').mask('00-00000000-0');
    	}	);
		}else{
			$('#documento').unmask();
		}


	}
</script>

{% endblock %}