{% import 'lib.html' as lib %}
{% extends 'listwitget.html' %}
{% block list_header scoped %}
   {{ super() }}

    <script>
    
        function cargarporcentaje(){
        var porcentaje = prompt("Inserte el numero de  % a sumar o restar");
        console.log(typeof porcentaje, porcentaje == "")
            if (porcentaje === null) {
              return; //break out of the function early
          }

        if ( !((parseFloat(porcentaje)>-100)) ||! parseFloat(porcentaje)|| porcentaje == "") {
          if ( porcentaje == ""){alert("No ha ingresado Nada !!!")}
           else if (!((parseFloat(porcentaje)>-100)) ||! parseFloat(porcentaje) ){
          alert("Ingrese solo numeros entre 1 y 100")}
        } else {
          try {

data={
  "var":parseFloat( porcentaje).toString(),
  "signo": Math.sign(parseFloat( porcentaje))
}
var url = "http://"+location.host+Flask.url_for("PrecioMdelview.updateprecio", data)
url =url+window.location.search
          fetch(url)
            .then(
             window.location.href ="http://"+location.host+Flask.url_for("PrecioMdelview.list")+window.location.search)
          } catch(e) {
            // statements
            console.log(e);
            alert(e)
          }

          
                  
}}
    </script>
    <a onclick="cargarporcentaje();" class="btn btn-sm btn-default" data-original-title="Cambiar Precio">
       <i class="fas fa-percent"></i>
    </a>
    <a href="{{url_for('ProductoxVencer' + '.download_csv', **request.args)}}" data-original-title="Imprimir" data-original-title="imprimir" class="btn btn-sm btn-default">
       <i class="fas fa-file-pdf"></i>
    </a>
{% endblock %}


{% block begin_content scoped %}
{{ super() }}
{% endblock %}

{% block begin_loop_header scoped %}
{{ super() }}
{% endblock %}

{% block begin_loop_values %}
{{ super() }}
{% endblock %}

{% block end_content scoped %}
{{ super() }}
{% endblock %}