
{% extends "appbuilder/base.html" %}
     {% block messages %}
        {% with messages = get_flashed_messages(category_filter=["nuevocliente"], with_categories=true) %}
  {% if messages %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" > x </button>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
        {% with messages = get_flashed_messages(category_filter=["warning"], with_categories=true) %}
  {% if messages %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" > x </button>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
      {% endblock %}
{% block content %}


    <h1>Realizar Venta</h1>

<br>


<form class="form-group ">
<table class="table table-bordered" id="agregar">
<tr>
              <td>{{ form2.cliente.label }}   </td>
 <td>    {{ form2.cliente}}       <a id="crearCliente" href="{{url_for('ClientesView.add')}}" > Crear Cliente<a /></td>  
                 <td>{{ form2.producto.label }}</td>
        <td> {{ form2.producto}}        </td>   


    </tr>
    <tr>
       
        <td> {{ form2.cantidad.label }}</td>
        <td>    {{ form2.cantidad}}     </td >
        


        <td></td >
       <td>  <input id="agregar" class="btn  btn-info btn-sm" type="button" value="Agregar Renglon" onclick="agregarRenglon(this);" align="right" />
        <input id="borrar" class="btn  btn-danger btn-sm" type="button" value="Borrar Renglon" disabled="true" onclick="borrarRenglon(this);" align="right" />
       </td >
    </tr>
</table>
</form >

<div id="unmetodo" >
<table class="table table-bordered" id="finalizar">

        <td style="float:right: " align="right"> 
            {{ form2.metodo.label }}
            {{ form2.metodo}}  
            <b>Monto $</b>  
            <input id="monto"  type="entry" value=""   /> 
             <input id="agregarFormadePago" onclick="crearFormadePago(this);"  class="btn  btn-info btn-sm" type="button" value="Agregar Forma de Pago"  />
             <input id="borrarFormadePago" onclick="borrarFormadePago(this);"  class="btn  btn-danger btn-sm" type="button" value="Borrar"  />

           </td>
        </td >
        
</table>

<div class = "panel-heading">
  <h4 class="panel-title" >
<a id="expancionT" class="accordion-toggle" data-toggle="collapse" parent="#divtarjeta" data-target="#divtarjeta" href="#divtarjeta" data-original-title="" title="" aria-expanded="true"></a>
    
  </h4>
  
<div id="divtarjeta" class="collapse">
  <table class="table table-bordered" >
           <tr>
        <td>{{ form2.numeroCupon.label }}   </td>
         <td>   {{ form2.numeroCupon }}  </td>
       </tr>
                  <tr>
        <td>{{ form2.companiaTarjeta.label }}   </td>
         <td>   {{ form2.companiaTarjeta }}  </td>
       </tr>
                  <tr>
        <td>{{ form2.credito.label }}   </td>
         <td>   {{ form2.credito }}  </td>
       </tr>
                         <tr>
        <td>{{ form2.cuotas.label }}   </td>
         <td>   {{ form2.cuotas }}  </td>
       </tr>
  </table >
  </div>
</div>
</div>

<table class="table table-bordered" >
<tr >
  <td align="right" >
    Faltante
    <input id="faltante" title="Faltante" disabled=true type="entry" value=""  />
<input id="nuevaFormadePago" class="btn  btn-info btn-sm" type="button" onclick="agregarFormadePago();" value="Nueva Formade Pago"  />
  </td>
  <td align="right" >
         {{ form2.Total.label }}
            {{ form2.Total}}
    <input id="finalizarVenta" class="btn  btn-info btn-sm" type="button" value="Finalizar Venta"  />
<input id="cancelarVenta" onclick="cancelar();"  class="btn  btn-danger btn-sm" type="button" value="Cancelar Venta"  />
  </td>

</tr>
  </table >
{% endblock %}

{% block tail_js %}
    {{ super() }}

    <script src="{{url_for('static',filename='js/venta.js')}}"></script>
    <link href="{{url_for('static',filename='appbuilder/select2/select2.css')}}"rel="stylesheet"/>
    <link href="{{url_for('static',filename='css/claseselect.css')}}"rel="stylesheet"/>
    <script src="{{url_for('static',filename='js/select2.js')}}"></script>
    <script>
        $(document).ready(function() { $("#producto").select2(); });
         $(document).ready(function() { $("#cliente").select2(); });
         $(document).ready(function() { $("#metodo").select2(); });
         
    </script>

{% endblock %}